.list-of-messages {
  .single-message {
    text-align: left;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    color: #fff;
    padding: 0.7rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.08);
    max-width: 75%;

    &.wit {
      background-color: #4870df;
      align-self: flex-end;
    }

    &.user {
      background-color: #fafafa;
      align-self: flex-start;
      color: #000;
    }
  }
}