.list-of-messages {
  overflow: scroll;
   &::-webkit-scrollbar { display: none; }

  .animated-message {
    
    &.animate-in {
      opacity: 0;
      transition: all 0.15s ease-in-out;
      animation: fadeNewMessage 0.5s;
      animation-fill-mode: forwards;
    }
  }

  .single-message {
    text-align: left;
    margin-bottom: 0.7rem;
    padding: 0.7rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.08);
    max-width: 75%;
    
    &.wit {
      background-color: #4870df;
      color: #fff;
    }

    &.user {
      background-color: #fafafa;
      color: #000;
    }
  }
}

@keyframes fadeNewMessage {
  0% { opacity: 0; transform: translateY(1rem); }
  100% { opacity: 1; transform: translateY(0px); }
}

.explanation-button {
  padding: 0.5rem 1rem;
  border-radius: 40px;
  border: 3px solid #7690d6;
  width: 38%;
  background-color: #dedfed;
  box-shadow: inset 0 0 0 2px #dedfed;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}